body{
		margin: 2%;
		border: 1px solid black;
		background-color: #b3b3b3;
}
#image{
    /*line-height:650px;*/
		width: 500px;
    height: 625px;
		border:5px solid black;
		margin:0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
    display: inline-block;
    vertical-align: top;

}
.preview{
		width:15%;
		margin-left:20px;
    margin-bottom: 20px;
    border: 10px solid black;
}
/* img{
		width:95%;
} */

.thumbnails {
  display: inline-flex;
  flex-wrap: wrap;
  width: 45%;
  vertical-align: top;
}
